/* Font */

@font-face {
    font-family: 'Fira Code';
    src: url('/font/woff2/FiraCode-Light.woff2') format('woff2'),
      url("/font/woff/FiraCode-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
  
@font-face {
    font-family: 'Fira Code';
    src: url('/font/woff2/FiraCode-Regular.woff2') format('woff2'),
      url("/font/woff/FiraCode-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: 'Fira Code';
    src: url('/font/woff2/FiraCode-Medium.woff2') format('woff2'),
      url("/font/woff/FiraCode-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
  
@font-face {
    font-family: 'Fira Code';
    src: url('/font/woff2/FiraCode-SemiBold.woff2') format('woff2'),
      url("/font/woff/FiraCode-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}
  
@font-face {
    font-family: 'Fira Code';
    src: url('/font/woff2/FiraCode-Bold.woff2') format('woff2'),
      url("/font/woff/FiraCode-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* Global */

:root{
    --dark-blue: #07003a;
    --neon-blue: #0fa7ff;
    --halo-blue: #3c0fff;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
}

body::-webkit-scrollbar {
    display: none;
}
  
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#wrapper{
    position: relative;
    background-color: var(--dark-blue);
    color: white;
    font-family: 'Fira Code';
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: medium;
    overflow-x: hidden;
    width: inherit;
}

h1{
    font-weight: 700;
    font-size: x-large;
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(135deg, var(--neon-blue), #ffff00);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    font-weight: 600;
    font-size: larger;
    margin: 0;
    padding: 0;
}

h3{
    font-weight: 500;
    font-size: large;
    margin: 0;
    padding: 0;
}

hgroup span{
    font-weight: 300;
    font-size:small;
    font-style: italic;
    margin: 0;
    padding: 0;
    color: var(--halo-blue);
}

hgroup{
    margin: 1em 0;
    width: fit-content;
    padding: 2em 0;
    padding-left: 5%;
    background: linear-gradient(135deg,#ffff00 15%, var(--neon-blue) 50%),
                linear-gradient(90deg,transparent, var(--dark-blue));
    background-blend-mode: darken;
    width:100%;
    color: var(--dark-blue)
}

a{
    color: white;
    text-decoration: none;
}

fieldset{
    border-color: var(--neon-blue);
    box-shadow: 0px 0px 15px var(--halo-blue), inset 0px 0px 15px var(--halo-blue);
}

legend{
    color: var(--neon-blue);
}


/* Header */

header{
    padding: 5em 0;
}

@keyframes neon {
    from {
        border: 3px solid var(--neon-blue);
        box-shadow: 0px 0px 15px var(--halo-blue), inset 0px 0px 15px var(--halo-blue);
    }

    33%{
        border: 3px solid var(--neon-blue);
        box-shadow: 0px 0px 15px var(--halo-blue), inset 0px 0px 15px var(--halo-blue);
    }

    39% {
        border: 3px solid #ffff00;
        box-shadow: 0px 0px 15px white, inset 0px 0px 15px white;
    }

    42% {
        border: 3px solid var(--neon-blue);
        box-shadow: 0px 0px 15px var(--halo-blue), inset 0px 0px 15px var(--halo-blue);
    }

    48% {
        border: 3px solid var(--neon-blue);
        box-shadow: 0px 0px 15px var(--halo-blue), inset 0px 0px 15px var(--halo-blue);
    }

    51% {
        border: 3px solid #ffff00;
        box-shadow: 0px 0px 15px white, inset 0px 0px 15px white;
    }

    54% {
        border: 3px solid var(--neon-blue);
        box-shadow: 0px 0px 15px var(--halo-blue), inset 0px 0px 15px var(--halo-blue);
    }

    57% {
        border: 3px solid #ffff00;
        box-shadow: 0px 0px 15px white, inset 0px 0px 15px white;
    }

    60% {
        border: 3px solid var(--neon-blue);
        box-shadow: 0px 0px 15px var(--halo-blue), inset 0px 0px 15px var(--halo-blue);
    }

    69%{
        border: 3px solid #ffff00;
        box-shadow: 0px 0px 15px white, inset 0px 0px 15px white;
    }
    
    to {
        border: 3px solid #ffff00;
        box-shadow: 0px 0px 15px white, inset 0px 0px 15px white;
    }
}

header hgroup{
    margin: 0 auto;
    border: 3px solid var(--neon-blue);
    padding: 2em;
    box-shadow: 0px 0px 15px var(--halo-blue), inset 0px 0px 15px var(--halo-blue);
    transform: skew(-30deg);
    width: fit-content;
    background: none;
    color: white;
    animation: 3s infinite linear neon;
}

header > hgroup > * {
    transform: skew(30deg);
}

header > hgroup > div{
    font-weight: 300;
    font-size:small;
    font-style: italic;
    margin: 0;
    padding: 0;
    color: var(--halo-blue);
    margin-left: 1em;
}

/* Navbar */

nav {
    width: 100%;
}

nav > div{
    position: relative;
    top:0;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(var(--dark-blue), transparent);
    z-index: 1;
    width: 100%;
}

@property --first {
    syntax: '<color>';
    initial-value: rgba(0,0,0,0);
    inherits: false;
}
  
@property --second {
    syntax: '<color>';
    initial-value: rgba(0,0,0,0);
    inherits: false;
}

nav > div > *{
    padding: 1em;
    display: flex;
    gap: 1em;
    background: linear-gradient(135deg,var(--first), var(--second));
    transition: --first ease 0.5s, --second ease 0.5s, color ease 0.5s;
}

nav > div > *:hover{
    --first: #ffff00;
    --second: var(--neon-blue);
    color: var(--dark-blue);
}

@media (width<740px) {

    #wrapper{
        display: grid;
        grid-template-columns: 60px auto;
    }

    header{
        grid-column: span 2;
    }

    nav{
        position:relative;
        height: fit-content;
        grid-row: span 2
    }

    nav > div{
        display: flex;
        flex-direction: column;
        width: fit-content;
        background: none;
    }

}

/* Main */

main{
    padding-right: 5%;
    padding-left: 2px;
}

#infos > hgroup{
    margin-top: 0;
}

section p{
    margin-bottom: 0;
}

section > hgroup ~ fieldset{
    margin-left: 5%;
}

/* Card */

#card{
    display: grid;
    grid-template-columns: 270px auto;
}

#logo{
    object-fit: cover;
    width: 100%;
}

@media (width<600px) {

    #card{
        display: block;
    }
}

/* SlideShow */

.slideshow{
    transition: height ease 1s;
}

.slideshow > fieldset{
    position: absolute;
    opacity: 0;
    transform: translateX(200%);
    transition: transform ease 1s, opacity ease 0.5s;
}

.slideshow > fieldset.headline{
    transform: none;
    opacity: 1;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.buttons > *{
    cursor: pointer;
    color: #ffff00;
    text-shadow: 0px 0px 15px white;
}

/* Footer */

footer{
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2px;
}

footer > hgroup{
    margin-top: 0;
}

#here{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

#here > *{
    cursor: pointer;
    transition: all ease-out 0.5s;
}

#here > * > legend{
    transition: all ease-out 0.5s;
}

#here > *:hover{
    border-color: #ffff00;
    box-shadow: 0px 0px 15px white, inset 0px 0px 10px white;
}