/** Reset **/
*{
    box-sizing: border-box;
    font-family: inherit;
    font-style: inherit;
    font-size: 1em;
    font-weight: inherit;
    text-decoration: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

ul, ol, summary{
    list-style: none;
}

/**** Layout ****/
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2em;
}

div{
    display: block;
    margin-top: calc(12.5em / -2 - 2em);
    height: 12.5em;
    aspect-ratio: 1/1;
    position: relative;
}

img{
    top: 0;
    left: 0;
    position: absolute;
    height: 12.5em;
    aspect-ratio: 1/1;
}

hgroup{
    text-align: center;
}

em{
    font-size: 1.5em;
    text-transform: uppercase;
}

content{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    column-gap: 0.5em;
}

content>h3{
    text-align: end;
}

ul{
    width: 100%;
    display: flex;
    gap: 0.5em;
}

a{
    padding: 0.2em;
    padding-inline: 0.5em;
}

/**** Style ****/
@font-face {
    font-family: "Strretch Sans";
    src:
        url("/font/streetch_sans.otf") format("opentype"),
        url("/font/streetch_sans.ttf") format("truetype"),
        url("/font/streetch_sans.woff") format("woff")
    ;
}

body{
    --u: 1vmin;
	--c1: #363636;
	--c2: #2b2b2b;
	--c3: #1e1e1e;
	--c4: #121212;
	--c5: #050505;
	--gp: 50%/calc(var(--u) * 10) calc(var(--u) * 17.67);
	background: 
		conic-gradient(from 90deg at 99% 67%, var(--c5) 0 90deg, #fff0 0 360deg) var(--gp), 
		conic-gradient(from 180deg at 1% 67%, var(--c5) 0 90deg, #fff0 0 360deg) var(--gp), 
		conic-gradient(from 0deg at 99% 33%, var(--c5) 0 90deg, #fff0 0 360deg) var(--gp), 
		conic-gradient(from -90deg at 1% 33%, var(--c5) 0 90deg, #fff0 0 360deg) var(--gp), 
		conic-gradient(from -60deg at 50% 15.5%, var(--c3) 0 120deg, #fff0 0 360deg) var(--gp), 
		conic-gradient(from -60deg at 50% 16.75%, var(--c5) 0 120deg, #fff0 0 360deg) var(--gp), 
		conic-gradient(from 120deg at 50% 83.25%, var(--c5) 0 120deg, #fff0 0 360deg) var(--gp), 
		linear-gradient(32deg, #fff0 0 49.5%, var(--c5) 0 50.5%, #fff0 0 100%) var(--gp),
		linear-gradient(-32deg, #fff0 0 49.5%, var(--c5) 0 50.5%, #fff0 0 100%) var(--gp),
		linear-gradient(-90deg, #fff0 0 49%, var(--c5) 0 51%, #fff0 0 100%) var(--gp),
		linear-gradient(60.5deg, #fff0 0 49.5%, var(--c5) 0 50.5%, #fff0 0 100%) var(--gp),
		linear-gradient(-60.5deg, #fff0 0 49.5%, var(--c5) 0 50.5%, #fff0 0 100%) var(--gp),
		conic-gradient(from -90deg at 50% 50%, var(--c5) 0 32deg, var(--c3) 0 60.5deg, var(--c4) 0 90deg, var(--c5) 0 119.5deg, var(--c1) 0 148deg, var(--c5) 0 180deg, #fff0 0 360deg) var(--gp),
		conic-gradient(from 90deg at 50% 50%, var(--c2) 0 32deg, var(--c4) 0 60.5deg, var(--c3) 0 90deg, var(--c1) 0 119.5deg, var(--c5) 0 148deg, var(--c2) 0 180deg,  #fff0 0 360deg) var(--gp);
	background-color: var(--c5);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section{
    background-color: #1f1f1f;
    border-radius: 4em;
    border-top-left-radius: 20em;
    border-top-right-radius: 20em;
}

img{
    border-radius: 100%;
    background: linear-gradient(45deg, rgba(0,255,255,1) 0%, rgba(255,255,0,1) 100%);
}

em{
    font-family: "Strretch Sans";
    background: -webkit-linear-gradient(45deg, rgba(0,255,255,1) 0%, rgba(255,255,0,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p{
    color: #828282;
    font-size: 0.8em;
}

content > *{
    opacity: 0;
}

content > h3{
    translate: -100%
}

content > p{
    translate: 100%
}

a{
    border-radius: 2em;
    background: linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,255,255,1) 50%, rgba(255,255,0,1) 100%);
    background-size: 220% 100%;
    background-position:0%;
    transition: all ease 0.5s;
}

a:hover{
    color: #1f1f1f;
    background-position:100%
}